.elements__container {
  max-width: 880px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.elements__item {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  position: relative;
}

.elements__delete-button {
  background-color: transparent;
  background-image: url("../images/Trash.svg");
  border: none;
  cursor: pointer;
  width: 18px;
  height: 19.3px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__delete-button:hover {
  opacity: 0.5;
}

.elements__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.elements__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 246px;
  padding: 25px 0 31px 0;
}

.elements__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like-button {
  margin-left: auto;
  width: 21px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/like_heart.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 21px;
  padding-left: 0px;
}

.elements__like-button:hover {
  opacity: 0.5;
}

.elements__like-button_active {
  background-image: url("../images/liked_heart.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.elements__like-button_active:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .elements__container {
    grid-template-columns: repeat(2, 1fr);
    width: 78%;
  }
}

@media screen and (max-width: 320px) {
  .elements__container {
    width: 100%;
    justify-content: center;
    margin: 0 auto 50px;
    grid-template-columns: 1fr;
  }
}
