.profile {
  display: flex;
  align-items: center;
  margin: 0 auto 50px;
  max-width: 880px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 415px;
}

.profile__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 18px;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__button {
  background-image: url("../images/edit_btn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__add-button {
  background-image: url("../images/Add_Button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .profile {
    margin: 0 auto 36px;
    max-width: 680px;
  }

  .profile__info {
    gap: 5px;
    overflow: auto;
  }

  .profile__name {
    font-size: 2em;
    line-height: 100%;
  }

  .profile__button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    font-size: 1em;
    line-height: 100%;
  }

  .profile__add-button {
    max-width: 90px;
    max-height: 30px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .profile__photo {
    margin-bottom: 20px;
  }

  .profile__info {
    align-items: center;
    text-align: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 100%;
  }

  .profile__button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 36px;
  }

  .profile__add-button {
    max-width: 282px;
    margin: 0;
    max-height: 26px;
    background-image: url("../images/Add_Button_mobil.svg");
  }
}
